{# templates/home/home.html.twig #}
{%  extends 'base.html.twig' %}
{% block title %}ToDOiT{% endblock %}

    {% block titre_page %}
        <a class="navbar-brand msg" href="#">ToDoList</a>
    {% endblock %}


{% block main %}
    <ul class="items">
        <li>Aller à la salle <span class="close">&times;</span></li>
        <li class="checked">Payer les factures <span class="close">&times;</span></li>
        <li>Rencontrer George <span class="close">&times;</span></li>
        <li>Acheter des oeufs <span class="close">&times;</span></li>
        <li>Lire un livre <span class="close">&times;</span></li>
    </ul>
    <form id="newItemForm2">
        <input type="text" placeholder="Créer une note..." />
        <input type="image" src="images/Button.png" alt="Add" />
    </form>
{% endblock %}

