{# templates/home/home.html.twig #}
{%  extends 'base.html.twig' %}
{% block title %}ToDOiT{% endblock %}
{% block body %}
    <main>
        {% for todo in list  %}
        <ul class="items">
            <li>{{ todo.todo }} <span class="close">&times;</span></li>
        </ul>
        {%  endfor %}
        <form id="newItemForm">
            <input class="txtNewItem" type="text" placeholder="Créer une note..." />
            <input type="image" src="{{ asset('images/Button.png') }}" alt="Add" />
        </form>
    </main>

{% endblock %}