{# templates/home/home.html.twig #}
{%  extends 'base.html.twig' %}
{% block title %}ToDOiT{% endblock %}

    {% block titre_page %}
        <a class="navbar-brand msg" href="#">ToDoList</a>
    {% endblock %}


{% block main %}

{% endblock %}