{# templates/home/home.html.twig #}
{%  extends 'base.html.twig' %}
{% block title %}ToDOiT{% endblock %}

{% block title_navbar %}
    <a class="navbar-brand msg" href="#">Salut Amine !</a>
{% endblock %}
{% block connecter_nonconnecte %}
    <li class="nav-item active">
        <a class="nav-link" href="#">
            <img src="{{ asset('images/profil.png') }}" class="imgprofil" alt="Photo de profil">
        </a>
    </li>
{% endblock %}
{% block main %}
    <main>
        <ul class="items">
            {% for tasks in list  %}
                <li>{{ tasks.todo }} <span class="close">&times;</span></li>
            {%  endfor %}
        </ul>
        <form id="newItemForm">
            <input class="txtNewItem" type="text" placeholder="Créer une note..." />
            <input type="image" src="{{ asset('images/Button.png') }}" alt="Add" />
        </form>
    </main>

{% endblock %}